#map {
  width: 100%;
  height: 400px;
}
.venue-marker {
  border: 1px solid #b9b9b9;
  padding: 1px;
  background: #fff;
  border-radius: 2px;
  -moz-border-radius: 2px;
  -webkit-border-radius: 2px;
}
.venue-marker .venue {
  margin: 1px;
  background: #d8d8d8;
  border: 1px solid #b9b9b9;
  height: 24px;
  width: 24px;
  float: left;
}
.leaflet-popup-content {
  padding: 0;
}
.leaflet-popup-content-wrapper {
  padding: 0;
  width: 300px;
}
.leaflet-popup-content-wrapper header {
  height: 100px;
  position: relative;
  -webkit-border-top-left-radius: 3px;
  -webkit-border-top-right-radius: 3px;
  -moz-border-radius-topleft: 3px;
  -moz-border-radius-topright: 3px;
  border-top-left-radius: 3px;
  border-top-right-radius: 3px;
}
.leaflet-popup-content-wrapper header h1 {
  color: #fff;
  background: rgba(0,0,0,0.5);
  bottom: 0;
  right: 0;
  left: 0;
  width: 100%;
  padding: 0.5em;
  margin: 0;
  position: absolute;
}
.leaflet-popup-content-wrapper main {
  padding: 1em 1em 3em;
  position: relative;
}
.leaflet-popup-content-wrapper main .next-venue,
.leaflet-popup-content-wrapper main .previous-venue {
  position: absolute;
  bottom: 0;
  display: inline-block;
  padding: 1em;
}
.leaflet-popup-content-wrapper main .next-venue {
  right: 0;
}
.leaflet-popup-content-wrapper main .previous-venue {
  left: 0;
}
.leaflet-popup-tip {
  border-left: 15px solid transparent;
  border-right: 15px solid transparent;
  border-top: 15px solid #fff;
}
