#map
  width: 100%
  height: 400px

.venue-marker
  border: 1px solid rgb(185, 185, 185)
  padding: 1px
  background: #fff
  border-radius: 2px
  -moz-border-radius: 2px
  -webkit-border-radius: 2px
  .venue
    margin: 1px
    background: rgb(216, 216, 216)
    border: 1px solid rgb(185, 185, 185)
    height: 24px
    width: 24px
    float: left

.leaflet-popup-content
  padding: 0

.leaflet-popup-content-wrapper
  padding: 0
  width: 300px
  header
    height: 6em
    position: relative
    h1
      color: #fff
      background: rgba(0, 0, 0, 0.8)
      bottom: 0
      position: absolute
      right: 0
      left: 0
      width: 100%
      padding: 0.5em
  main
    padding: 0.5em 0.5em 3em
    position: relative
    .next-venue, .previous-venue
      position: absolute
      bottom: 0
      display: inline-block
      padding: 0.5em
    .next-venue
      right: 0
    .previous-venue
      left: 0

.leaflet-popup-tip
  border-left:15px solid transparent
  border-right:15px solid transparent
  border-top:15px solid #fff
