<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>Interactive Venue Map</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">

    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.css">

    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.css">
    <link rel="stylesheet" href="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/MarkerCluster.Default.css">

    <link rel="stylesheet" href="http://code.ionicframework.com/ionicons/1.5.2/css/ionicons.min.css">

    <!--[if lte IE 8]>
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-old-ie-min.css">
    <![endif]-->
    <!--[if gt IE 8]><!-->
      <link rel="stylesheet" href="http://yui.yahooapis.com/combo?pure/0.5.0/base-min.css&pure/0.5.0/grids-min.css&pure/0.5.0/grids-responsive-min.css">
    <!--<![endif]-->

    <link rel="stylesheet" href="css/map.css">
  </head>
  <body>
    <div id="interactive-venue-map" ng-app="InteractiveVenueMap">
      <div class="filter" ng-controller="FilterCtrl" ng-class="{'active': showFilter}">
        <header class="pure-g">
          <div class="pure-u-1-2">
            <span><strong>Potential Venue Map</strong> &Iota; San Francisco 2024</span>
          </div>
          <div class="pure-u-1-2" ng-click="showFilter = !showFilter">
            <span ng-if="showFilter">Hide Map Categories</span>
            <span ng-if="!showFilter">Show Map Categories</span>
            <span class="toggle">
              <i class="icon ion-navicon-round" ng-if="!showFilter"></i><i class="icon ion-close" ng-if="showFilter"></i>
            </span>
          </div>
        </header>
        <main ng-if="showFilter">
          <nav>
            <ul class="pure-g">
              <li ng-repeat="category in venues" ng-class="{'selected': (selectedCategory === category)}" class="pure-u-1-3">
                <span></span>
                <a href="" ng-click="changeCategory(category)">
                  {{category.category}}
                </a>
                <span></span>
              </li>
            </ul>
          </nav>

          <section class="pure-g">
            <div class="pure-u-1-5 sub-category" ng-class="{'selected': !selectedCategory.hidden}">
              <a href="" ng-click="toggleCategory(selectedCategory)">
                <div class="venue" style="background: {{selectedCategory.color}}"></div>
                <strong>All {{selectedCategory.category}} ({{countVenues(selectedCategory)}})</strong>
              </a>
            </div>

            <div class="pure-u-1-5 sub-category" ng-repeat="subCategory in selectedCategory.subCategories" ng-class="{'selected': !subCategory.hidden}">
              <a href="" ng-click="toggleCategory(selectedCategory, subCategory)">
                <div class="venue" style="background: {{selectedCategory.color}}"><img ng-src="{{subCategory.icon}}" ng-if="subCategory.icon"></div>
                {{subCategory.category}} ({{subCategory.venues.length}})
              </a>
            </div>
          </section>

        </main>
      </div>
      <div class="map">
      </div>
    </div>

    <script src="https://api.tiles.mapbox.com/mapbox.js/v2.1.4/mapbox.js"></script>
    <script src="https://api.tiles.mapbox.com/mapbox.js/plugins/leaflet-markercluster/v0.4.0/leaflet.markercluster.js"></script>
    <script src="https://code.jquery.com/jquery-1.11.0.min.js"></script>
    <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.26/angular.min.js"></script>
    <script src="js/map.js"></script>
    <script>
      var makeRandomVenues = function (number) {
        var venues = [];

        for (var i = 0; i < number; i++) {
          venues.push({
            name: 'Golf Course',
            description: 'Aute incididunt officia magna tempor ad id nulla incididunt Lorem non eiusmod culpa adipisicing voluptate. Laboris veniam duis do sit ea nostrud esse ea irure in cupidatat. Irure irure cillum Lorem ex cillum anim sit exercitation eu laboris culpa proident eiusmod. Sunt proident esse exercitation mollit aliquip culpa ad. Cillum laborum ea dolore est irure laboris sit nostrud reprehenderit eu laboris tempor eiusmod incididunt. Anim mollit excepteur culpa consequat eu proident Lorem eiusmod consequat est. Commodo culpa dolor pariatur culpa proident aliqua exercitation id in commodo ut.',
            image: 'http://i.imgur.com/TWhC7.jpg',
            lat: Math.floor(Math.random()*10),
            lng: Math.floor(Math.random()*10)
          });
        }

        return venues;
      };

      window.venues = [{
        category: 'Athletic Venues',
        color: 'red',
        subCategories: [{
          category: 'Athletic',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(10) // <-- Insert the venues for this subCategory here as an array (e.g. [{name: 'Golf', lat: 10, lng: 11, description: 'Test'}])
        }, {
          category: 'Archery',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(10)
        }, {
          category: 'Badminton',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(10)
        }, {
          category: 'Basketball',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(10)
        }]
      }, {
        category: 'Athletic Venues 2',
        color: 'blue',
        subCategories: [{
          category: 'Athletic 2',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(3)
        }, {
          category: 'Archery 2',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(4)
        }, {
          category: 'Badminton 2',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(7)
        }, {
          category: 'Basketball 2',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(1)
        }]
      }, {
        category: 'Athletic Venues 3',
        color: 'yellow',
        subCategories: [{
          category: 'Athletic 3',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(3)
        }, {
          category: 'Archery 3',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(4)
        }, {
          category: 'Badminton 3',
          icon: 'assets/acc-ceremonies.svg',
          venues: makeRandomVenues(7)
        // }, {
        //   category: 'Basketball 3',
        //   venues: makeRandomVenues(1)
        }]
      }];
    </script>
  </body>
</html>
